@page
@model AspnetRunBasics.ConfirmationModel
@{
    ViewData["Title"] = "Confirmación";
}

<div class="container contact-container">
    <h1 class="mt-4 mb-3">
        Confirmation        
    </h1>
    <hr />
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <h3>@Model.Message</h3>
    }
    <br />
    <p>Si tienes alguna duda puedes contactarnos +593 990 537 359.</p>
</div>
